body {
  background: #2a1b1b;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.renta-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  border-radius: 12px;
  background: rgba(60, 30, 30, 0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.renta-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px; 
}

/* Contenedor de ambas fechas */
.fechas {
  display: flex;
  gap: 30px; /* espacio entre Día de Renta y Día de Devolución */
  flex-wrap: wrap;
}

.campo label, .campo-fecha label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-icon input {
  background: rgba(120, 120, 120, 0.5);
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  width: 180px;
  outline: none;
}

/* Combobox*/
.input-icon select {
  width: 180px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.4); /* Blanco con 40 % opacidad */
  backdrop-filter: blur(4px);
  color: #000; /* color del texto */
}


.btn-lupa {
  background: rgba(150, 20, 20, 0.6);
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-add{
  background: rgb(255, 220, 120,0.6);
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.3s;
}


.btn-lupa:hover {
  background: rgba(200, 30, 30, 0.9);
}

.btn-add:hover {
  background: rgba(305, 230, 130, 0.9);
}

.divider {
  width: 2px;
  background: rgba(255,255,255,0.3);
  align-self: stretch;
}

.date-input {
  background: rgba(120, 120, 120, 0.5);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  width: 220px;
  cursor: pointer;
}

/* Calendario semi transparente */
.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.8;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

.btn-confirmar, .btn-limpiar {
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  background: rgba(150, 20, 20, 0.6);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-confirmar:hover, .btn-limpiar:hover {
  background: rgba(200, 30, 30, 0.9);
}

.columna-izquierda,
.columna-derecha {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#ticket-container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ticket-cuadro {
  background: rgba(40, 20, 20, 0.9);
  border-radius: 12px;
  max-width: 550px;  
  padding: 20px 25px 45px 25px; 
  color: #fff;
  text-align: left;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  width: 90%;
  animation: aparecer 0.3s ease forwards;
}

.ticket-cuadro.exito {
  border: 2px solid rgba(255, 220, 120, 0.9);
}

.ticket-cuadro.error {
  border: 2px solid rgba(255, 60, 60, 0.9);
  text-align: center;
}

.ticket-cuadro h3 {
  color: rgba(255, 220, 120, 0.9);
  margin-bottom: 10px;
}

.ticket-btns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-palomita,
.btn-tacha {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s;
}

.btn-palomita {
  background: rgba(255, 220, 120, 0.8);
  color: #000;
}

.btn-tacha {
  background: rgba(200, 40, 40, 0.8);
  color: #fff;
}

.btn-palomita:hover,
.btn-tacha:hover {
  transform: scale(1.1);
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}