<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel de Control</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style_index.css" />
</head>
<body>
  <div class="background">
    <div class="panel">
      <div class="menu-bar">
        <button class="menu-btn active">Bienvenida</button>
        <div class="menu-btn-non-active">
        <button class="menu-btn">Renta</button>
        <button class="menu-btn">Cancelación</button>
        <button class="menu-btn">Devolución</button>
        <button class="menu-btn">Listas</button>
        <button class="menu-btn">Ganancias staff</button>
        <button class="menu-btn">Cerrar</button>
      </div>
      </div>

      <div class="content-box"></div>
      
    </div>
  </div>
</body>
</html>

